# local project settings
ybusiness.pro.user

# directories
terminal/Debug
terminal/Release
terminal/Profile

# Compiled Object files
*.o

# Executables


# Compiled Dynamic libraries
*.so

# Backup css, text and html files
*.css~
*.html~
*.text~

# autosaves
*.autosave

